aside
  #about
    a(href=config.root)#logo
      img(src= asideLogo, alt= "Logo")
    h1#Dr
      a(href= theme.aside.dr)= config.author
    #description
      p()!= theme.aside.description
    if theme.social
      #social-links
        each value, name in theme.social
          a.social(href= value.split('||')[0].trim())
            i(alt=name,class=value.split('||')[1].trim())
    if page.published === undefined
      section#total
        a#total-archives(href= url_for("archives"))
          span.total-title #{__('menu.archive.plural')}#{__('menu.total')}:
          span.total-number= site.posts.length
        #total-tags
          span.total-title #{__('menu.tag.plural')}:
          b.tag
            span.total-number= site.tags.length
        #total-categories
          span.total-title #{__('menu.category.plural')}:
          b.categories
            span.total-number= site.categories.length
  #aside-block
    block aside-block
  footer(style= footerStyle)
    if theme.aside.icp !== null
      nobr
        span.text-title ICP
        a(href='https://beian.miit.gov.cn/').text-content= theme.aside.icp
    nobr #{__('footer.publish')} 
      a(href= 'http://hexo.io') Hexo
    wbr
    nobr  #{__('footer.theme')} 
      a(href= 'https://github.com/Yue-plus/hexo-theme-arknights') Arknights


